.container{
    width: 70%;  
}
.c1{
    width: 30%;  
    float: left;
}
.c2{
    width: 50%;
    float: right; 
}
.c3{
    width: 30%;  
    float: left;
    margin-left: 10px;
}
.content{
    background-color: rgb(138, 215, 190);
    width: 70%;
    margin: auto;
}
.c4{
    width: 30%;
    float: left;
    margin-left: 20%;
    
}